.product-image {
  width: 25%;
}



.sum-container {
 border-top:1px solid black;
 margin-top:10%;
}



.col-4,
.col-2 {
  padding: 0;
  margin: 0;
}


.cart-page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 
}

.Footer {
  margin-top: auto; 
}


.cart-page-container{
  margin-left:0;
  margin-right:0;
}


@media (min-width: 768px) {
  .cart-page-container {
    margin-left: 20%;
    margin-right: 20%;
  }
}

.header{

  height:15%;
  
  padding:2%;
}

.product{
  margin-left:13%;
}
.product-container{

  margin-top:3%;
}

.price-header{

margin-right:1%;
}


.quantity-controls {
  display: flex;
  align-items: center;
 
  gap: 10px; 
  margin-bottom: 10%;
 

}

.quantity-header{
 margin-right:3%;
}

.product-header{
  margin-left:13%;
  margin-right:2%;
}
 

@media (max-width: 768px) {
.price-header{
  display:none;
}

.product-price{
  display:none;
}

.quantity-header{
  padding-left:2%;
  margin-left:1%;
  margin-right:0%;
  
}
.product-header{
  margin-right:2%;
}

.sum-container{
  margin-left:10%;
}

.product{
  margin-top:5%;
}

}
  
  