.product-image {
  width: 25%;
}

.your-order-container {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.sum-container {
  margin: 0;
  padding: 0;
  text-align: start;
}

.container {
  margin: 0;
  padding: 0;
}

.col-4,
.col-2 {
  padding: 0;
  margin: 0;
}


.cart-page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 
}

.Footer {
  margin-top: auto; 
}


.cart-page-container{
  margin-left:0;
  margin-right:0;
}


@media (min-width: 768px) {
  .cart-page-container {
    margin-left: 20%;
    margin-right: 20%;
  }
}