.hero-image-container {
  position: relative;
}

.hero-image {
opacity: 80%;
}

.see-popular-burgers-container {
  background-color: black;
  opacity: 70%;
  position: absolute;
  top: 8%;
  left: 60%;
  height: 40%;
  width: 30%;
}

@media (max-width: 992px) {

  .see-popular-burgers-container{
 
  displaY:none;
  }


}
.see-popular-burgers-text {
  text-align: center;
  color: white;
  font-size: 4vw;
  font-weight: bold;
  font-family: "Poetsen One", sans-serif;
}

.hero-text-container {
  position: absolute;
  top: 8%;
  left: 3%;
  height: 30%;
  width: 40%;
}

.hero-text {
  color: white;
  font-size: 4vw;
  font-weight: bold;
  font-family: "Poetsen One", sans-serif;
 
}

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.popular-burgers-text {
  font-size: 7vw;
  font-family: "Reddit Mono", monospace;
  font-weight: lighter;
}

.popular-burgers-text-container {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
