.form-group{
  margin:5%;
}

label{
  margin-bottom: 3%;
}


.order-btn{
  margin-left:5%;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 20%;
}

.order-btn.disabled{
  opacity: 70%;
background-color:grey;
  color: #666; /* Byt ut denna färg mot din valda färg för inaktiverad text */
  cursor: not-allowed; 
}

.modal-title{
font-family: "Poetsen One", sans-serif;
}

.product-container-payment{
  border-bottom: 2px solid black;
  margin-bottom: 2%;
}

.payment-method-text{

  margin-bottom:3%;
}

 
 .swish-bank-container{
  margin-top:15%;
} 

@media (max-width: 768px) {

  
  .swish-bank-container{
    margin-top:7%;
  } 
  .personal-information-container{
    border-bottom: 1px solid black;
    margin-bottom:10%;
  }

  


}

